<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/design/profile.css">
</head>
<body>
	<% if(user.profileImg.data != null){ %>
		<img src="data:<%=user.profileImg.contentType%>;base64,
		<%=user.profileImg.data.toString('base64')%>">
	 <% } %>
	<br>
	<div>
		<form action="/changeProfilePicture" method="POST"  enctype="multipart/form-data">
			<input type="file" id="image"
			name="image" required>
			<br>
			<br>
			<button type="submit">Change Profile Picture</button>
		</form>
	</div>
	<br>
    <p><%= user.username %></p>
	<p>Beigetreten am <%= user.joindate.toLocaleDateString() %></p>
	<hr>
	<br>
	<form action="/userSearchInput" method="GET">
		<button>Search for users</button>
	</form>
	<br>
	<form action="/forYouPage" method="POST">
		<button>Go to the fyp</button>
	</form>
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="column">
			<table>
				<tr>
					<th>
						<h3>
							Images
						</h3>
					</th>
				</tr>
				<tr>
					<th>
						<form action="/uploadImage" method="GET">
							<button type="submit">
								Upload new Image
							</button>
						</form>
					</th>
				</tr>
				<% images.forEach(function(image) { %>
					<tr>
						<th>
							<img src="data:<%=image.img.contentType%>;base64,
								<%=image.img.data.toString('base64')%>">
							<p><%= image.description %></p>
							<form action="/comment" method="post">
								<input name="contentIdent" id="contentIdent" value="<%= image.id %>"hidden>
								<button type="submit">
									Comment
								</button>
							</form>
						</th>
					</tr>
				<% }) %>
			</table>
		</div>
		<div class="column">
			<table>
				<tr>
					<th>
						<h3>
							Texts
						</h3>
					</th>
				</tr>
				<tr>
					<th>
						<form action="/uploadText" method="GET">
							<button type="submit">
								Upload new Text
							</button>
						</form>
					</th>
				</tr>
				<% texts.forEach(function(text) { %>
					<tr>
						<th>
							<h3><%= text.title %></h3>
							<p><%= text.text %></p>
							<form action="/comment" method="post">
								<input name="contentIdent" id="contentIdent" value="<%= text.id %>"hidden>
								<button type="submit">
									Comment
								</button>
							</form>
						</th>
					</tr>
				<% }) %>
			</table>
		</div>
	</div>


</body>
</html>
